<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="PROJECT-TASK" class="ch.qos.logback.classic.db.DBAppender">  
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">  
            <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">                 
                <driverClass>com.mysql.jdbc.Driver</driverClass>  
                <url>jdbc:mysql://localhost:3306/Course_Selection_System?characterEncoding=utf8</url>  
                <user>root</user>  
                <password></password>
                <sqlDialect class="ch.qos.logback.core.db.dialect.MySQLDialect" />   
            </dataSource>  
        </connectionSource>
        
    </appender> 
    <root level="INFO">
        <appender-ref ref="PROJECT-TASK"/>
    </root>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>